/* Fonts */
@font-face {
    font-family: 'Roboto';
    src:
        url(../assets/fonts/Roboto-Regular.ttf),
        url(../assets/fonts/Roboto-Italic.ttf),
        url(../assets/fonts/Roboto-Bold.ttf);
}

/* Variables */
:root {
    --primary-color: black;
    --secondary-color: #A8A8A3;
}

/* Global */
*{
    box-sizing: content-box;
}

html {
    font-family: 'Roboto';
    font-size: 24px;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.container {
    width: 1100px;
    margin: auto;
    overflow: hidden;
}

/* Header */
.logo {
    float: left;
    height: 64px;
}

.navbar {
    float: right;
}

.navbar-nav {
    margin: 0;
    padding-top: 10px;
    list-style-type: none;
}

.navbar-nav li {
    display: inline-block;
}

.nav-item {
    margin: 0px 32px 0px 32px;
    padding: 20px 4px 10px 4px;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

.nav-item:hover {
    background-color: var(--secondary-color);
    color: white;
}

.current {
    background-color: var(--primary-color);
    color: white;
}

#contact-me {
    margin-left: 2rem;
    line-height: 3rem;
}

/* Tab */
.tab {
    position: relative;
    display: none;
    width: 100%;
}

/* Media */

.media-body {
    text-indent: 2rem;
    line-height: 1.7rem;
}

.media-img-right {
    margin-left: 1rem;
    float: right;
}

.media-img-left {
    margin-right: 1rem;
    float: left;
}

.showcase {
    margin-top: 30px;
    padding-bottom: 64px;
}

/* Footer */
footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    text-align: center;
}

/* Animations */
@keyframes slideleft {
    from { left: -100% ;}
    to { left: 0px;}
}

/* Helpers */
.active {
    display: block;
    animation: 1s slideleft ease;
}

.icon {
    width: 1rem;
}